[".."
 "../../animeka-actor"
 "../../demining-actor"
 "../../dougaka-actor"
 "../../gftd-audio-actor"
 "../../gftd-avatar-actor"
 "../../gftd-illust-actor"
 "../../gftd-motion-actor"
 "../../gftd-rig-actor"
 "../../gftd-sculpt-actor"
 "../../gftd-voice-actor"
 "../../graph-sos-intel-actor"
 "../../handotai-actor"
 "../../hc-actor"
 "../../insatsu-actor"
 "../../intel-actor"
 "../../ipaddress-actor"
 "../../jp-ashiba-actor"
 "../../port-actor"
 "../../shinshi-growth-actor"
 "../../swachh-actor"
 "../../tsukuru-actor"
 "../../vessel-actor"
 "../../vin-actor"
 "../../yabai-actor"
 "../../../kotoba-lang/kotoba-actor-sdk"
 "../../../kotoba-lang/kotoba-actors"
 "../../../kotoba-lang/organisms"
 "../../../etzhayyim/com-etzhayyim-app-organism"]
